{# homepage.html.twig #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ma Page d'Accueil</title>
</head>
<body>

    <header>
        <h1>Bienvenue sur ma page d'accueil</h1>
    </header>

    <section>
        <p>C'est un exemple de page d'accueil Symfony avec Twig.</p>
    </section>

    <footer>
        <p> 2023 Mon Site Web</p>
    </footer>

</body>
</html>
